<section>
  <app-header></app-header>
 
</section>
<section [ngClass]="['head']">
  <a [routerLink]="['view']" [routerLinkActive]="['active']">VIEW STUDENTS</a> 
  <a [routerLink]="['add']" [routerLinkActive]="['active']">ADD STUDENT</a>
  <a [routerLink]="['update']" [routerLinkActive]="['active']">UPDATE STUDENT</a>
  <a [routerLink]="['delete']" [routerLinkActive]="['active']">DELETE STUDENT</a>
  <a [routerLink]="['search']" [routerLinkActive]="['active']">SEARCH STUDENT</a>
  </section>

<section [ngClass]="['routeSection']">
  <h2>Welcome!!</h2>
  <router-outlet></router-outlet>
</section>

<section>
  <app-footer></app-footer>
</section>